/*http://www.w3schools.com/html/html_colornames.asp this has multiple colors with there hexadecimal values*/

img{
	width:200px;
	height:200px;
}

span{
     /* this can control multiple spans for you */	
}

p {
	font-family: Verdana,serif; /* you can piggy back fonts like this, first ordered takes priority */ 
	font-size: 1em; /*em is a type of font size that uses what ever the default is on your screen or device 2em = 2x your default size*/
}

td{
	border:1px dashed blue; /*borders man, for tables and such*/
}

table{
	border:1px solid green; /*borders man, for tables and such*/
}
